@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
}
@media only screen and (max-width: 900px){
  #selection_list{
    display: none!important;
  }
  #vnb_button{
    display: inline-block!important;
  }
  #layout{
    overflow-y: auto;
  }
  #vnavbar .header{
    text-align: left;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 7px;
  }
  #vnavbar .selection{
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    height: 40px;
  }
  #vnavbar .selections{
    padding-bottom: 10px;
  }
  #vnavbar .header{
    display: flex;
    padding-right: 10px;
    padding-top: 10px;
  }
  #vnavbar .header span{
    flex-grow: 1;
  }
  #vnavbar > div:hover{
    color: white;
    background-color: #0275d8;
    transition: 0.5s;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon{
    background-size: 35px 35px;
  }
  #carouselExampleControls{
    height: 300px!important;
  }
  #carouselExampleControls  img {
    height: 300px!important;
  }
  footer> #info{
    display: flex;
    flex-direction: column;
  }
  footer #text{
    width: 100%!important;
  }
  footer #contract{
    width: 100%!important;
  }
  #map{
    width: 90%!important;
    height: 60vw!important;
    margin-top: 10px; 
    margin-bottom: 10px;
  }
  footer .icon{
    width: 100%;
  }
  #address{
    width: 75%!important;
    text-wrap:pretty;
    height: 70px;
  }
  #sign{
    margin-top: 7px;
  }
  #services>#text > ul{
    flex-direction: column!important;
  }
  #services>#text > ul > li{
    margin-bottom: 15px;
    font-size: 28px;
    padding: 0px;
  }
  #services>#text > ul{
  width: 100%!important;
}
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: none!important;
} 
#mahalle{
  margin-top: 15px;
  margin-bottom: 15px;
  
}
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
#mahalle  thead{
  font-size: 21px;
  font-weight: 50!important;
}
a{
  text-decoration: none;
  color:unset;
}
#navbar{
  width: 100%;
  min-height: 90px !important;
  position: sticky;
  top: 0; 
  z-index: 19999!important;
}
h1{
  font-weight: lighter;
  text-align: left;
  width: 90%;
}
#layout {
  width: 100%;
  display: flex;
  min-height: 90px!important;
  height: auto;
  font-family: Roboto;
  font-weight: 500!important;
  justify-content: center;
  align-items: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
  box-sizing: border-box;
  top: 0; 
  background-color: white; 
  z-index: 1060; 
}
#navbar .dropdown-menu {
    margin: 0; 
    padding: 0; 
}
.dropdown-menu{
  z-index: 9999;
}
#vnb_button{
  width: 40px;
  height: 20px;
  display: none;
  margin-right: 20px;
}
#logo {
  width: 60px;
  height: 60px;
}
#vnavbar .selections{
  display: none;
  background-color: white;
  color: black;
}
#vnavbar .selection:hover{
  background-color: #0275d8;
  color: white;
  transition: 0.3s;
}
#selection_list {
  min-width: 60%;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#selection_list  .dropdown>button {
  cursor: pointer;
  margin-left: 10px;
  background-color: white;
  border: 0px;
  color:black;
}

#main_text {
  flex-grow: 1;
  font-size: 22px;
  font-weight: bolder;
  margin-left: 10px;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1051; 
}
.dropdown:hover button{
  transition: 0.3s;
  background-color: #0275d8!important;
  color: white!important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}
#vnavbar{
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    overflow-y: auto!important;
    position: absolute;
    max-height: 90vh;
    width: 100%;
    display: none;
    z-index: 9999!important;
    background-color: white;
}
#carouselExampleControls {
  width: 100%;
  position: relative;
  height: 650px;
  margin-top: 10px;
  z-index: 1000; 
  margin: 0;
  padding: 0;
}
.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1050; 
}
#carouselExampleControls  img {
  width: 100%;
  height: 650px;
  object-fit: cover!important;
  overflow: hidden!important;
}
.carousel-control-next-icon{
   margin: 0;
   padding: 0;
   margin-left: 55%!important;
   height: 50px;
   width: 50px;
   background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" stroke="%23c593d8" viewBox="0 0 8 8"%3E%3Cpath d="M2.5 1L5 4 2.5 7" stroke="%23FFFFFF" stroke-width="1" fill="none" /%3E%3C/svg%3E'); /* Thinner bright white arrow */
 
} 
.carousel-control-prev-icon{ 
  margin: 0;
  padding: 0;
  opacity: 1!important;
  margin-right: 55%!important; 
  height: 50px;
  width: 50px;
  opacity: 1;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" stroke="%23c593d8" viewBox="0 0 8 8"%3E%3Cpath d="M5.5 1L3 4l2.5 3" stroke="%23FFFFFF" stroke-width="1" fill="none" /%3E%3C/svg%3E');
}
.carousel-item{
  transition: transform 0.8s ease-in-out;
}
#services>#text > ul{
  list-style-type: decimal;
  justify-content: space-between;
  width: 30%;
  padding-right: 10px!important;
  list-style-type: none;
  font-weight: lighter;
  height: auto;
  font-size: 32px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}
#services>#text > ul i{
  color: #0275d8;
}
#services>#text > ul >li:hover{
  cursor: pointer;
}
#services>#text > ul >li:hover i{
  color: lightcoral;
  transition: 0.5s;
  cursor: pointer;
}
#map{
  width: 90%;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#about{
  width: 90% !important;
  word-break: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
#services > #title{
  font-size: 22px;
  font-weight: lighter;
}
footer{
  width: 100%;
  height: 450px;
  background-color: hsl(220, 16%, 26%);
  display: flex;
  flex-direction: column;
  color:#eef;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 0.5%;
}
footer >#info{
  height: 93%;
  font-size: 22px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer>#info>#text{
  width: 60%;
  height: 52%;
  overflow: hidden;
  margin-top: 30px;
  display: flex;
  font-size: 16px;

}
footer>#sign{
  margin-top: 5px;
  text-align: center;
}
footer #contract{
  margin-top: 0px;
  width: 100%;
  height: 52%;
}
.icon{
    display: flex;
    height: 22px;
    width: 35%;
    align-items: center!important;
    margin-bottom: 20px;
    font-size: 24px;
    height: 30px;
}
#address{
  width: 60%;
  word-break:break-all;
}
.icon  div{
  font-size: 16px;
  margin-left: 7px;
}